Flask==0.9
Jinja2==2.6
# on Windows, comment out the dependency on Pillow below if it causes installation problems
Pillow==2.1.0
WTForms==1.0.4
Werkzeug==0.8.3
argparse==1.2.1
distribute==0.6.31
flask-peewee==0.6.5
peewee==2.1.2
wsgiref==0.1.2
wtf-peewee==0.2.2
xlrd==0.9.2