<!DOCTYPE html> 
<html>

<head> 
  <title>{% block title %}Add Title here{% endblock %}</title> 
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  {% block head %} {% endblock %}
  {% block style %}
    <script src="{{ url_for('static', filename='bootstrap/js/bootstrap.min.js') }}"></script>
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.css') }}">
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/table_differ.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" media="screen" href="{{ url_for('static', filename='css/jquery.handsontable.bootstrap.css') }}">
  {% endblock %}
</head>

<body> 
{% block content %}
<div class="navbar navbar-static-top">
    <div class="navbar-inner">
        <div class="container">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <a class="brand" href="{{ url_for('compare.copy_paste_compare') }}">Table Differ</a>
            <div class="nav-collapse">
                <ul class="nav nav-tabs">
                  <li class="{{ header_tab_classes['copy-paste-compare'] }}"><a href="{{ url_for('compare.copy_paste_compare') }}">Copy/Paste Compare</a></li>
                  <li class="{{ header_tab_classes['quick-compare'] }}"><a href="{{ url_for('compare.quick_compare') }}">Quick Compare</a></li>
                  <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Comparisons<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                      <li class="{{ header_tab_classes['compare-baseline'] }}"><a href="{{ url_for('compare.compare_baseline') }}">Baseline Compare</a></li>
                      <li class="{{ header_tab_classes['xls-worksheet-compare'] }}"><a href="{{ url_for('compare.xls_worksheet_compare') }}">Ref/Act Compare</a></li>
                    </ul>
                  </li>
                  <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Baselines<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                      <li class="{{ header_tab_classes['compare-baseline'] }}"><a href="{{ url_for('baselines.compare_baselines') }}">Compare to Baseline</a></li>
                      <li class="divider"></li>
                      <li class="{{ header_tab_classes['manage-baseline'] }}"><a href="{{ url_for('baselines.list_baselines') }}">Show All Baselines</a></li>
                      <li class="{{ header_tab_classes['upload-baseline'] }}"><a href="{{ url_for('baselines.upload_baseline') }}">New Baseline</a></li>
                    </ul>
                  </li>
                  <li class="{{ header_tab_classes['compare-results'] }}"><a href="{{ url_for('results.show_results') }}">Results</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div id="page-content">
	{% block page_content %}Put page content here{% endblock %}
</div>

{% endblock %}

<div id="page-footer">Table Differ
</div>
</body>
</html> 
