{% extends "base.html" %}

{% block title %}Table Differ{% endblock %}

{% block head %}
<script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/jquery.handsontable.full.js') }}"></script>
<link rel="stylesheet" media="screen" href="{{ url_for('static', filename='css/jquery.handsontable.full.css') }}">
{% endblock %}

{% block page_content %}

<div class="row-fluid">
	<div class="form-box span8 offset2">
		<form action="{{ url_for('baseline.compare_baseline') }}" method="post" enctype="multipart/form-data" class="form-horizontal" onsubmit="return false;">
			<fieldset>
				<div class="form-legend">Manage Baselines</div>
				<div class="control-group">
					<label class="control-label">Baseline File</label>
					<div class="controls">
						<select id="baseline-id" name="baseline_id" class="span6">
						{% for baseline in baselines %}
							{% if selected_baseline and baseline.id == selected_baseline %}
							<option value="{{ baseline.id }}" selected="selected">{{ baseline.name|striptags|title }}</option>
							{% else %}
							<option value="{{ baseline.id }}">{{ baseline.name|striptags|title }}</option>
							{% endif %}
						{% endfor %}
						</select>
					</div>
				</div>
				<div class="control-group">
					<label class="control-label">Baseline Contents</label>
					<div class="controls">
						<div id="dataTable" class="handsontable"></div>
					</div>
				</div>
				<div class="form-actions">
					<button id="update" class="btn btn-primary">Update</button>
				</div>
			</fieldset>
		</form>
	</div>
</div>

<script src="{{ url_for('static', filename='js/test_sheet.js') }}"></script>

{% endblock %}