{% extends "base.html" %}

{% block title %}Quick Comparison{% endblock %}

{% block head %}
<script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
{% endblock %}

{% block page_content %}

<div class="row-fluid">
	<div class="form-box span8 offset2">
		<form action="{{ url_for('quick_compare') }}" method="post" enctype="multipart/form-data" class="form-horizontal" onsubmit="return areFilesSelected();">
			<fieldset>
				<div class="form-legend">Quick Comparison</div>
				<div class="control-group">
					<label class="control-label">Baseline File</label>
					<div class="controls">
						<input id="baseline_file" type="file" name="baseline_file" class="input-block-level" placeholder="Baseline File">
					</div>
				</div>
				<div class="control-group">
					<label class="control-label">Comparison File</label>
					<div class="controls">
						<input id="comparison_file" type="file" name="comparison_file" class="input-block-level" placeholder="Comparison File">
					</div>
				</div>
				<div class="control-group">
					<label class="control-label">Comparison Type</label>
					<div class="controls">
						{% for comparison in comparison_types %}
						<label class="radio-label">
							{% if loop.index == 1 %}
								<input class="radio-button" type="radio" name="comparison_type" value="{{ comparison.id }}" checked="checked">
							{% else %}
								<input class="radio-button" type="radio" name="comparison_type" value="{{ comparison.id }}">
							{% endif %}
							{{ comparison.name|striptags|title }}
						</label>
						{% endfor %}
					</div>
				</div>
				<div class="form-actions">
					<button type="submit" class="btn btn-primary">Compare</button>
				</div>
			</fieldset>
		</form>
	</div>
</div>

<script>
	function areFilesSelected() {
		return ((document.getElementById('baseline_file').value !== '') && (document.getElementById('compare_file').value !== ''));
	}
</script>

{% endblock %}