{% extends "base.html" %}

{% block title %}Data Comparison{% endblock %}

{% block head %}
<script src="static/jquery.min.js"></script>
<script src="static/jquery.handsontable.full.js"></script>
<link rel="stylesheet" media="screen" href="static/jquery.handsontable.full.css">
{% endblock %}

{% block content %}

Table of Expected Results
<div id="dataTable1"></div>
Table of Actual Results
<div id="dataTable2"></div>
<button id="compare">Compare</button>
<div id="preferences-div">

</div>

<script src='static/tables_input.js'></script>

{% endblock %}