{% extends "base.html" %}

{% block title %}Table Differ{% endblock %}

{% block head %}
<script src="static/jquery.min.js"></script>
<script src="static/jquery.handsontable.full.js"></script>
<link rel="stylesheet" media="screen" href="static/jquery.handsontable.full.css">
{% endblock %}

{% block page_content %}
<div class="container-fluid" id="page-content">
    <div class="row-fluid"> </div>
    <div class="row-fluid"> </div>
    <div class="row-fluid"> </div>
    <div class="row-fluid">
    <div id="dataTable" class="handsontable"></div>
    <button id="compare">Compare</button>
    </div>
</div>

<script src='static/test_sheet.js'></script>

{% endblock %}