{% extends "base.html" %}

{% block title %}Upload Baseline{% endblock %}

{% block head %}
<script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
{% endblock %}

{% block page_content %}

<div class="row-fluid">
	<div class="form-box span10 offset1">
		<form action="{{ url_for('baselines.upload_baseline') }}" method="post" enctype="multipart/form-data" class="form-horizontal" onsubmit="return isFileSelected();">
			<fieldset>
				<div class="form-legend">Upload Baseline</div>
				<div class="control-group">
					<label class="control-label">Baseline Name</label>
					<div class="controls">
						<input type="text" class="input-block-level span6" name="baseline_name" placeholder="Baseline Name">
					</div>
				</div>
				<div class="control-group">
					<label class="control-label">Baseline File</label>
					<div class="controls">
						<input type="file" name="baseline_file" class="input-block-level" placeholder="Baseline File">
					</div>
				</div>
				<div class="control-group">
					<label class="control-label">Comparison Type</label>
					<div class="controls">
            {% for comparison_type, comparison_name in cell_comparisons.CHOICE_LABELS %}
						<label class="radio-label {{ comparison_type|css_for_comparison_type }}">
							{% if comparison_name == "Literal" %}
								<input class="radio-button" type="radio" name="comparison_type_id" value="{{ comparison_type }}" checked="checked">
							{% else %}
								<input class="radio-button" type="radio" name="comparison_type_id" value="{{ comparison_type }}">
							{% endif %}
							{{ comparison_name|striptags|title }}
						</label>
						{% endfor %}
					</div>
				</div>
				<div class="form-actions">
					<button type="submit" class="btn btn-primary">Upload</button>
				</div>
			</fieldset>
		</form>
	</div>
</div>

<script src="{{ url_for('static', filename='js/tables_input.js') }}"></script>
<script>
	function isFileSelected() {
		return (document.getElementById('compare_file').value !== '');
	}
</script>

{% endblock %}