{% extends "base.html" %}

{% block title %}List Verification{% endblock %}

{% block content %}

<form action="verify_lists" method="post">
	<table>
	<tr><td>Expected List</td><td>Actual List</td></tr>
	<tr>
		<td><textarea rows="25" cols="60" name="expected_list"></textarea></td>
		<td><textarea rows="25" cols="60" name="actual_list"></textarea></td>
	</tr>
	<tr><td>
	<fieldset>
		<legend>Verification Type:</legend>
		<input type="radio" name="compare_type" value="contains" checked="yes"/> Contains<br />
		<input type="radio" name="compare_type" value="only contains" /> Only contains<br />
		<input type="radio" name="compare_type" value="contains in order" /> Contains in order<br />
		<input type="radio" name="compare_type" value="does not contain" /> Does not contain<br />
	</fieldset>
	</td></tr>
	<td>
	</table>
	<input type="submit" value="Verify" />

</form>

{% endblock %}