/*.mismatch { background-color:red; color: white; }*/
/*.ok { background-color:#33FF99; color: black; }*/
/*.missing_expected { background-color: red; color: white; }*/
/*.missing_actual { background-color: red; color: white; }*/
/*.padding { background-color: white; color: white; }*/
/*.unexpected { background-color: yellow; }*/

div#page-content {
	background-color: #fdfdfd;
}
div#page-footer {
	color: #b0b0b0;
	border-top: 1px solid #e5e5e5;
	border-bottom: 1px solid #f4f4f4;
	font-family: sans-serif;
	font-size: 9pt;
	padding: 3px;
	text-align: center;
}
form, .form-actions {
	margin-bottom: 0;
}
div.form-box {
	border-left: 1px solid #e5e5e5;
	border-right: 1px solid #e5e5e5;
}
.form-legend {
	background-color: #fafafa;
	border-bottom: 1px solid #e5e5e5;
	color: #333333;
	font-size: 16pt;
	padding: 15px 0 10px 15px;
	margin-bottom: 30px;
}
.radio-button {
	margin: 0 0 3px 0 !important;
}

.error-box {
	background-color: #fafafa;
	border: 1px solid #e5e5e5;
	border-radius: 15px;
	margin: 20px;
	padding: 15px;
}

/*div.dataTables_length label {*/
    /*width: 460px;*/
    /*float: left;*/
    /*text-align: left;*/
/*}*/

/*div.dataTables_length select {*/
    /*width: 75px;*/
/*}*/

/*div.dataTables_filter label {*/
    /*float: right;*/
    /*width: 460px;*/
/*}*/

div.dataTables_info {
    padding-top: 8px;
}

div.dataTables_paginate {
    float: right;
    margin: 0;
}

table {
    /*margin: 1em 0;*/
    margin-bottom: 6px !important;
    clear: both;
}

table.table thead .sorting,
table.table thead .sorting_asc,
table.table thead .sorting_desc,
table.table thead .sorting_asc_disabled,
table.table thead .sorting_desc_disabled {
    cursor: pointer;
    *cursor: hand;
}

table.table thead .sorting { background: url('/static/img/sort_both.png') no-repeat center right; }
table.table thead .sorting_asc { background: url('/static/img/sort_asc.png') no-repeat center right; }
table.table thead .sorting_desc { background: url('/static/img/sort_desc.png') no-repeat center right; }

table.table thead .sorting_asc_disabled { background: url('/static/img/sort_asc_disabled.png') no-repeat center right; }
table.table thead .sorting_desc_disabled { background: url('/static/img/sort_desc_disabled.png') no-repeat center right; }

.paging_full_numbers a.paginate_button,
 	.paging_full_numbers a.paginate_active {
	border: 1px solid #aaa;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	padding: 2px 5px;
	margin: 0 3px;
	cursor: pointer;
	*cursor: hand;
	color: #333 !important;
}

td.mismatch { background-color: red; color: white; }
td.ok { background-color:#33FF99; color: black; }
td.missing_expected { background-color: red; color: white; }
td.missing_actual { background-color: red; color: white; }
td.padding { background-color: white; color: white; }
td.unexpected { background-color: yellow; }

td.compare-literal { background-color: white; color: black; }
td.compare-regex { background-color: yellow; color: black; }
td.compare-ignore { background-color: green; color: black; }
td.compare-tolerance { background-color: greenyellow; color: black; }

label.compare-literal { background-color: white; color: black; }
label.compare-regex { background-color: yellow; color: black; }
label.compare-ignore { background-color: green; color: black; }
label.compare-tolerance { background-color: greenyellow; color: black; }
