#page-content {
    position: absolute;
    top: 60px;
    left:150px;
    width: 100%;
    height: 90%;
}

.mismatch { background-color:red; color:white; }
.ok { background-color:#33FF99; color:black; }
